<footer class="footer">
  <div class="container">
    <div class="d-flex justify-content-around">
        <div class="footer__wrapper">
          <div class="footer__title--wrapper col-auto">
            <h4 class="footer__title">2021, ООО «Старк»</h4>
            <a href="#" class="footer__doc--link">Политика конфендициальности</a>
          </div>
          <div class="footer__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
            <div class="logo__text"><a href="#" class="logo__text">металлоломная компания</a></div>
          </div>
          <div class="content__social footer__social col-auto">
            <div class="social__wrapper footer__social--wrapper">
              <div class="social__img">
                <a href="#"><img src="img/social/viber.png" alt="viber"></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/telegram.png" alt=""></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/whatsapp.png" alt=""></a>
              </div>
            </div>
            <div class="social__wrapper footer__social--wrapper">
              <div class="social__img">
                <a href="#"><img src="img/social/inst.png" alt="viber"></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/mail.png" alt=""></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/vk.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</footer>
