<header class="header">
  <div class="header__container">
    <div class="center">
      <div class="header__wrapper">
          <div class="header__logo">
            <a href="#"><img src="img/logo.png" alt="logo"></a>
          </div>
          <div class="header__content--wrapper">
            <div class="header__content">
              <div class="content__card">
                <div class="card__title">прием, вывоз, демонтаж
                  металлического лома</div>
                <div class="card__text">железный бизнес для железных людей</div>
              </div>
              <div class="content__social">
                <div class="social__wrapper">
                  <div class="social__img">
                    <a href="#"><img src="img/social/viber.png" alt="viber"></a>
                  </div>
                  <div class="social__img">
                    <a href="#"><img src="img/social/telegram.png" alt=""></a>
                  </div>
                  <div class="social__img">
                    <a href="#"><img src="img/social/whatsapp.png" alt=""></a>
                  </div>
                </div>
                <div class="social__wrapper">
                  <div class="social__img">
                    <a href="#"><img src="img/social/inst.png" alt="viber"></a>
                  </div>
                  <div class="social__img">
                    <a href="#"><img src="img/social/mail.png" alt=""></a>
                  </div>
                  <div class="social__img">
                    <a href="#"><img src="img/social/vk.png" alt=""></a>
                  </div>
                </div>
              </div>
              <div class="content__file">
                <div class="file__wrapper">
                  <div class="file__img">
                    <a href="#"><img src="img/doc.png" alt=""></a>
                  </div>
                  <a class="file__text" href="#">Скачать актуальный
                    прайс-лист</a>
                </div>
              </div>
            </div>
            <div class="header__nav">
              <nav class="nav">
                <ul class="nav-ul">
                  <li><a href="#" class="nav__link">главная</a></li>
                  <li><a href="#" class="nav__link">о компании</a></li>
                  <li><a href="#" class="nav__link">услуги</a></li>
                  <li><a href="#" class="nav__link">цены на лом</a></li>
                  <li><a href="#" class="nav__link">новости</a></li>
                  <li><a href="#" class="nav__link">контакты</a></li>
                  <li><a href="#" class="nav__link">отзывы</a></li>
                </ul>
              </nav>
            </div>
          </div>
        <div class="header__mobile--nav">
          <nav class="mobile__nav">
            <ul class="mobile__nav-ul">
              <li><a href="#" class="mobile__nav__link">главная</a></li>
              <li><a href="#" class="mobile__nav__link">о компании</a></li>
              <li><a href="#" class="mobile__nav__link">услуги</a></li>
              <li><a href="#" class="mobile__nav__link">цены на лом</a></li>
              <li><a href="#" class="mobile__nav__link">новости</a></li>
              <li><a href="#" class="mobile__nav__link">контакты</a></li>
              <li><a href="#" class="mobile__nav__link">отзывы</a></li>
            </ul>
            <div class="mobile__file--wrapper">
              <div class="file__img">
                <a href="#"><img src="img/doc.png" alt=""></a>
              </div>
              <a class="file__text" href="#">Скачать актуальный
                прайс-лист</a>
            </div>
            <div class="mobile__social--wrapper">
              <div class="social__img">
                <a href="#"><img src="img/social/viber.png" alt="viber"></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/telegram.png" alt=""></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/whatsapp.png" alt=""></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/inst.png" alt="viber"></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/mail.png" alt=""></a>
              </div>
              <div class="social__img">
                <a href="#"><img src="img/social/vk.png" alt=""></a>
              </div>
            </div>
          </nav>
        </div>
        <div class="menu-burger__header">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
