.clear__nav{
  background: none !important;
}
.about{
}
.about__wrapper{
  margin-top: 80px;
  margin-bottom: 180px;
  .about__title{
    font-weight: 800;
    font-size: 50px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 90px;
  }
}


.about__info--wrapper{
  margin-bottom: 180px;
  .about__description {
    font-weight: 400;
    font-size: 19px;
    line-height: 1.21;
    color: #000000;
    margin-bottom: 15px;
  }

  .about__priorities--wrapper{
    .priorities__title{
      font-weight: 600;
      font-size: 19px;
      line-height: 1.21;
      color: #000000;
      margin-bottom: 15px;
    }

    .priorities__item{
      &:before{
        content: "—";
        color: $accent;
        padding-right: 5px;
      }
      font-weight: 400;
      font-size: 19px;
      line-height: 1.21;
      color: #000000;
      margin-bottom: 15px;
    }
  }

  .priorities__client--item{
    &:before{
      content: "•";
      color: $accent;
      padding-right: 3px;
    }
    font-weight: 400;
    font-size: 19px;
    line-height: 1.21;
    color: #000000;
  }
}

@media (max-width: 990px) {
  .about__title{
    text-align: center;
  }
  .about__img--wrapper{
    width: 100% !important;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .about__text--wrapper{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about__description{
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .about__info--wrapper{
    margin-bottom: 80px;
  }
}

@media (max-width: 420px) {
  .about__title{
    font-size: 35px !important;
  }
}
