.clientCard{
  margin-top: 150px;
  margin-bottom: 160px;
  background: #000000;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.clientCard__wrapper{
  padding-top: 90px;
  padding-bottom: 65px;
  .clientCard__title{
    padding-bottom: 30px;
    max-width: 625px;
    font-weight: 800;
    font-size: 50px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .clientCard__list{
    margin-bottom: 50px;
  }
  .list__title{
    max-width: 510px;
    font-weight: 700;
    font-size: 19px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
  }

  .list__item{
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 5px;

    &:before{
      content: "•";
      color: #B50000;
      padding-right: 5px;
    }
  }

  .cardClient__img--wrapper{
    max-width: 800px;
    position: absolute;
    top: 40%;
    left: 50%;

    & img{
      width: 100%;
    }
  }
}

@media (max-width: 1235px) {
  .cardClient__img--wrapper{
    display: none;
  }

}


@media (max-width: 960px) {
  .clientCard{
    width: 100%;
  }
  .clientCard__title{
    text-align: center;
    font-size: 40px !important;
  }

}

@media (max-width: 650px) {
  .clientCard__title{
    font-size: 30px !important;
  }

  .list__title{
    text-align: center;
  }
  .clientCard__list{
    text-align: center;
  }

}
