html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F5F5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.is-outer {
    position: relative !important; // stylelint-disable-line declaration-no-important
    left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
    overflow: hidden;
}

.stop-scroll {
    @include stop-scroll;
}

.is-hidden {
    display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
    display: none;
    @include mobile {
        display: block;
    }
}

.error {
    border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
    @include visually-hidden;
}

.btn-reset {
    border: none;
    background: transparent;
    cursor: pointer;
}

.row{
  display: flex;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
