.header{
  z-index: 2;
  position: relative;
}

.header__container{
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
}

.header__logo{
  max-width: 200px;

  & img{
    width: 100%;
  }
}

.header__content{
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.content__card{
  color: #000000;


  .card__title{
    margin-bottom: 11px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 19px;
    line-height: 1.21;
    text-transform: uppercase;
    max-width: 300px;
    border-bottom: 2px solid #DB0000;
  }

  .card__text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
  }
}

.content__social{
  display: flex;
  .social__wrapper{
    display: flex;
    align-items: center;
    margin-right: 30px;

    &:last-child{
      margin-right: 0;
    }

    .social__img{
      width: 100%;
      margin-right: 10px;
      & img{
        max-width: 100%;
      }
      &:hover{
        opacity: 0.4;
      }
    }
  }
}

.content__file{
  .file__wrapper{
    display: flex;
  }
  .file__img{
    max-width: 100%;
    margin-right: 21px;

    & img{
      width: 100%;
    }
    &:hover{
      opacity: 0.4;
    }
  }
  .file__text{
    max-width: 100px;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    line-height: 1.2;
    color: #292F36;

    &:hover{
      text-decoration: underline;
    }
  }
}

.header__content--wrapper{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav{
  display: flex;
  background-color: #DBDBDB;
  margin-top: 30px;
  .nav{
    width: 100%;
  }
  .nav-ul{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    & li{
      height: 100%;
      max-width: 150px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  .nav__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #000000;
    &:focus, &:hover, &:active{
      text-decoration: none;
      color: #BF0000;
      transition: all 0.2s ease;
    }
  }
}

.header__mobile--nav{
  display: none;
}

.menu-active{
  display: block;
  transition: all 0.5s ease;
}


//NAV__________

.menu-burger__header{
  display: none;
}

//Media

@media (max-width: 1140px) {
  .content__card{
    .card__title{
      font-size: 16px;
      max-width: 251px;
    }

    .card__text{
      font-size: 10px;
    }
  }

  .content__social{
    .social__wrapper{
      margin-right: 10px;
    }
  }
}

@media (max-width: 1060px) {
  .content__card{
    .card__title{
      font-size: 14px;
      max-width: 220px;
    }

    .card__text{
      font-size: 10px;
    }
  }

  .content__social{
    .social__wrapper{
      margin-right: 8px;
    }
  }

  .content__file{
    .file__text{
    }
  }

  .header__nav{
    .nav__link{
      font-size: 16px;
    }
  }
}




@media (max-width: 990px) {
  .menu-burger__header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 60px;
    height: 65px;
    padding: 5px 5px;
    margin-top: 5%;
    margin-right: 30px;
  }

  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
    height: 3px;
    width: 40px;
    position: absolute;
    background: #515758;
    z-index: 10;
    margin: 0 auto;
    top: 35px;
  }
  .menu-burger__header span{
    top: 21px;
  }
  .menu-burger__header:after, .menu-burger__header:before{
    content: '';
  }
  .menu-burger__header:after{
    bottom: 5px;
  }
  .menu-burger__header:before{
    top: 5px;
  }


  .open-menu{
    z-index: 11;
    margin-top: 0;
    top: -35px;
  }

  .menu-burger__header.open-menu span {
    opacity:0;
    transition: 0.5s;
  }
  .menu-burger__header.open-menu:before {
    transform: rotate(40deg);
    top: 35px;
    transition: 0.4s;
  }
  .menu-burger__header.open-menu:after {
    transform: rotate(-40deg);
    bottom: 10px;
    transition: 0.4s;
  }



  .content__card{
    display: none;
  }

  .content__social{
    .social__wrapper{
      display: none;
    }
  }

  .content__file{
    display: none;
  }

  .header__nav{
    .nav{
      display: none;
    }
  }

  .header__mobile--nav{
    .mobile__nav{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #DBDBDB;
      width: 100vw;
      height: 100%;
      z-index: 10;
      position: fixed;
      left: 0;
      top: 0;
      transition: all 0.5s;
      opacity: .95;
    }
    .mobile__nav-ul{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mobile__nav__link{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.22;
      text-transform: uppercase;
      color: #000000;

      margin-top: 20px;

      &:focus, &:hover, &:active{
        text-decoration: none;
        color: #BF0000;
        font-weight: 700;
        transition: all 0.2s ease;
      }
    }
    .mobile__social--wrapper{
      margin-bottom: 150px;
      z-index: 10;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      .social__img{
        margin-right: 10px;
        margin-bottom: 10px;

        &:hover{
          opacity: 0.6;
        }
      }
    }

    .mobile__file--wrapper{
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      .file__img{
        &:hover{
          opacity: 0.6;
        }
      }

      .file__text{
        margin-top: 10px;
        max-width: 120px;
        text-align: center;
      }
    }
  }
}
