.info{
  background-image: url("../img/bg/info__bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: $infoBgTop;
  position: relative;
}

.info__wrapper{
  margin-top: 150px;

  .info__title--block{
    max-width: 890px;
    background: rgba(0, 0, 0, 0.55);
    background-blend-mode: multiply;
    .info__title{
      padding: 20px 40px 20px 20px;
      font-weight: 900;
      font-size: 66px;
      line-height: 1.21;
      text-transform: uppercase;
      color: #FFFFFF;

    }
  }
  .info__select{
    margin-bottom: 45px;
  }
}

//________________SELECT__________

.info__select--relative{
  position: relative;
}

.info__select--absolute{
  position: absolute;
}



.info__select {
  position: relative;
  width: 280px;
  height: 40px;
  margin: 0 auto;
  background: #BF0000;
  border-radius: 6px 6px 0px 0px;
  cursor: pointer;


  .select__wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
  }

  .select__title{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: #FFFFFF;

    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 16px;
      display: block;
      width: 15px;
      height: 2px;
      transition: all 0.3s ease-out;

      background-color: #FFFFFF;

      transform: translate(-5px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(5px, -50%) rotate(-45deg);
    }
  }

  .arrow__up{
    &:before{
      transform: translate(-5px, -50%) rotate(-45deg);
    }
    &::after {
      transform: translate(5px, -50%) rotate(45deg);
    }
  }

  .select__content{
    display: none;
    transition: all 0.6s ease;
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 0;
    background: #FDFDFD;
    width: 100%;
    .content__title--wrapper{
      border-bottom: 1px solid #EAEAEA;
      width: 100%;
    }
    .content__title{
      padding: 12px 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.21;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      padding-bottom: 5px;
    }

    .content__row{
      padding: 12px 20px;
      width: 100%;
      border-bottom: 1px solid #EAEAEA;
      display: flex;
      justify-content: space-between;

      .content__img{
        width: 20px;
        height: 15px;
        background: #C4C4C4;
      }

      .content__name{
        font-weight: 700;
        font-size: 16px;
        line-height: 1.21;
        color: #000000;
      }

      .content__bid{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.21;
        color: #000000;
      }

      .content__procent{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.21;
        color: #FFFFFF;
      }
    }

  .up__currency{
    color: #0095C4 !important;
  }

  .down__currency{
    color: #C80000 !important;
  }

    .up__mettal{
      color: #56C400 !important;
    }

    .down__mettal{
      color: #B50000 !important;
    }

  .select__open{
    display: block !important;
  }


  }
}

//___________________SELECT_____________
.info__btn--wrapper{
  margin-top: 300px;
  margin-bottom: 115px;
}


.info__btn{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
  background-color: #B50000;

  &:hover{
    color: #B50000;
    background-color: #FFFFFF;
    transition: all 0.4s ease;
  }

}

.info__img-car{
  max-width: 100%;
  top: -260px;
  position: absolute;
}


//Media

@media (max-width: 1380px) {
  .info__title{
    font-size: 55px !important;
  }
}

@media (max-width: 990px) {
  .info__title{
    font-size: 45px !important;
  }

  .car__img--wrapper{
    display: none;
  }

  .btn__wrapper{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .info__btn{
    width: 400px;
  }
}


@media (max-width: 768px) {
  .info__title{
    font-size: 35px !important;
    text-align: center;
  }

  .info__select{
    margin-top: 50px;
    width: 400px;
    height: 50px;
  }

  .info__btn--wrapper{
    margin-top: 150px;
  }

  .btn__wrapper{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .info__btn{
    width: 400px;
  }
}

@media (max-width: 576px) {
  .info__title{
    font-weight: 700;
  }

  .info__title--block{
    display: flex;
    justify-content: center;
    width: 100% !important;
  }

  .info__select{
    margin-top: 50px;
    width: 400px;
    height: 50px;
  }

  .info__btn--wrapper{
    margin-top: 150px;
  }

  .btn__wrapper{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .info__btn{
    width: 400px;
  }
}

@media (max-width: 445px) {
  .info__title{
    font-size: 30px !important;
  }

  .info__select{
    width: 300px;
  }

  .info__btn{
    width: 300px;
  }
}

@media (max-width: 355px) {
  .info__title{
    font-size: 25px !important;
  }

  .info__select{
    width: 250px;
  }

  .info__btn{
    width: 250px;
  }
}



