.info{
  background-image: url("../img/bg/info__bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: $infoBgTop;
  position: relative;
}

.info__wrapper{
  margin-top: 150px;

  .info__title--block{
    max-width: 890px;
    background: rgba(0, 0, 0, 0.55);
    background-blend-mode: multiply;
    .info__title{
      padding: 20px 40px 20px 20px;
      font-weight: 900;
      font-size: 66px;
      line-height: 1.21;
      text-transform: uppercase;
      color: #FFFFFF;

    }
  }
  .info__select{
    margin-bottom: 45px;
  }
}

//________________SELECT__________
.info__select {
  position: relative;
  width: 280px;
  height: 40px;
  margin: 0 auto;

  &[data-state="active"] {
    .info__select__title {
      &::before {
        transform: translate(-5px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(5px, -50%) rotate(45deg);
      }
    }

    .info__select__content {
      opacity: 1;
    }

    .info__select__label + .info__select__input + .info__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}
.info__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #FFFFFF;
  padding: 8px 16px;

  background: $accent;
  border-radius: 6px 6px 0px 0px;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 16px;

    display: block;
    width: 15px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #FFFFFF;

    transform: translate(-5px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(5px, -50%) rotate(-45deg);
  }

  &:hover {

    &::before,
    &::after {
      background-color: #FFFFFF;
    }
  }
}

.info__select__content {
  position: absolute;
  top: 40px;
  left: 3px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: #ffffff;

  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}
.info__select__input {
  display: none;

  &:checked + label {
    background-color: #dedede;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.info__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;

  transition: all 0.2s ease-out;

  cursor: pointer;

  overflow: hidden;

  & + input + & {
    border-top: 0 solid #C7CCD160;
  }

  &:hover {
    background-color: $accent !important;

    color: #ffffff;
  }
}

//___________________SELECT_____________
.info__btn--wrapper{
  margin-top: 300px;
  margin-bottom: 115px;
}


.info__btn{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
  background-color: #B50000;

  &:hover{
    color: #B50000;
    background-color: #FFFFFF;
    transition: all 0.4s ease;
  }

}

.info__img-car{
  top: -260px;
  position: absolute;
}


//Media

@media (max-width: 1380px) {
  .info__title{
    font-size: 55px !important;
  }
}

@media (max-width: 990px) {
  .info__title{
    font-size: 45px !important;
  }

  .car__img--wrapper{
    display: none;
  }

  .btn__wrapper{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .info__btn{
    width: 400px;
  }
}


@media (max-width: 768px) {
  .info__title{
    font-size: 35px !important;
    text-align: center;
  }

  .info__select{
    margin-top: 50px;
    width: 400px;
    height: 50px;
  }

  .info__btn--wrapper{
    margin-top: 150px;
  }

  .btn__wrapper{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .info__btn{
    width: 400px;
  }
}

@media (max-width: 576px) {
  .info__title{
    font-weight: 700;
  }

  .info__title--block{
    display: flex;
    justify-content: center;
    width: 80% !important;
  }

  .info__select{
    margin-top: 50px;
    width: 400px;
    height: 50px;
  }

  .info__btn--wrapper{
    margin-top: 150px;
  }

  .btn__wrapper{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
  }

  .info__btn{
    width: 400px;
  }
}
