.news__title{
  font-weight: 800;
  font-size: 50px;
  line-height: 1.21;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 110px;
}


.news__item--title{
  font-weight: 700;
  font-size: 19px;
  line-height: 1.21;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

.news__item--description{
  font-weight: 400;
  font-size: 19px;
  line-height: 1.21;
  color: #000000;
  margin-bottom: 27px;
}

.news__item--btn{
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  height: 40px;
  width: 175px !important;
  line-height: 1.2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: #D8D8D8;


  &:hover{
    background: #B50000;
  }
}


.news__slider{
  display: flex !important;
  flex-direction: column !important;
}

@media (max-width: 992px) {
  .item__news--wrapper{
    display: flex;
    flex-direction: column;
  }

  .img__item--news{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .news__info--wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .news__btn--wrapper{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 960px) {
  .news__title {
    text-align: center;
  }
}

@media (max-width: 540px) {
  .news__title {
    font-size: 40px !important;
  }
}

@media (max-width: 400px) {
  .news__title {
    font-size: 32px !important;
  }
}

.next__grey{
  cursor: pointer;
  top: 50%;
  z-index: 2;
  left: 0;
  position: absolute;
  height: 30px;
  width: 30px;
  border-top: 5px solid #D8D8D8;
  border-right: 5px solid #D8D8D8;
  transform: rotate(-135deg);

  &:hover{
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
  }
}

.prev__grey {
  cursor: pointer;
  top: 48%;
  right: -5px;
  z-index: 2;
  position: absolute;
  height: 30px;
  width: 30px;
  border-top: 5px solid #D8D8D8;
  border-right: 5px solid #D8D8D8;
  transform: rotate(45deg);

  &:hover {
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
  }
}

