.pluses{
  background-image: url("../img/bg/pluses__bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.pluses__wrapper{
  padding-bottom: 200px;
  .pluses__title{
    margin-top: 115px;
    margin-bottom: 90px;
    font-weight: 800;
    font-size: 50px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #FFFFFF;
  }

}

.card{
  background-color: transparent;
  border: none;
  .card__wrapper{
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  .card__img{
    display: flex;
    justify-content: center;
  }

  .card__description{
    margin-top: 35px;
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 19px;
    line-height: 1.21;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

}

@media (max-width: 990px){
  .pluses__title{
    max-width: 100%;
    width: 100%;
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
}


.slick-slider{
  min-width: 0;
}
.slick-track{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-list {
  overflow: hidden;
}
.slider__item {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__item img{
  max-width: 100%;
}

.slider {
  position: relative;
  padding: 0px 60px;
}

.slider .slick-arrow{
  position: absolute;
  top: 50%;
  margin: -15px 0 0 0;
  z-index: 2;
  font-size: 0;
  width: 30px;
  height: 50px;
}


.next{
  cursor: pointer;
  top: 50%;
  z-index: 2;
  left: -5px;
  position: absolute;
  height: 30px;
  width: 30px;
  border-top: 5px solid #FFFFFF;
  border-right: 5px solid #FFFFFF;
  transform: rotate(-135deg);

}

.prev{
  cursor: pointer;
  top: 43%;
  right: -5px;
  z-index: 2;
  position: absolute;
  height: 30px;
  width: 30px;
  border-top: 5px solid #FFFFFF;
  border-right: 5px solid #FFFFFF;
  transform: rotate(45deg);

}

@media (max-width: 550px){
  .slider__item{
    display: flex;
    justify-content: center;
  }
}




