.price{
  background-image: url("../img/price--page/price__bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: $infoBgTop;
  box-sizing: content-box;
}

.nav__white{
  color: #FFFFFF !important;
  &:hover{
    opacity: 0.8;
    transition: all 0.4s ease;
  }
}



.price__wrapper{
  padding-top: 100px;
  padding-bottom: 200px;
  .price__title{
    font-weight: 800;
    font-size: 50px;
    line-height: 1.21;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 80px;
  }

  .btn__wrapper{

  }

  .price__btn{
    cursor: pointer;
    font-weight: 500;
    font-size: 29px;
    line-height: 1.21;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    height: 65px;
    margin-bottom: 30px;
    &:hover, &:focus, &:active {
      background: #000000;
      display: flex;
      align-items: center;
      text-align: center;
      transition: all 0.4s ease;
    }
  }

}

.table__title{
    font-weight: 700;
    font-size: 29px;
    line-height: 1.21;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #B50000;
}

.table__body{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    height: 1000px;
}


@media (max-width: 990px) {
  .price__title{
    text-align: center;
    padding-top: 50px;
  }
  .price__btn--wrapper{
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .table__wrapper{
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .container__price{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}


