.services__wrapper{
  margin-top: 150px;
  margin-bottom: 150px;
  .services__title{
    max-width: 500px;
    font-weight: 800;
    font-size: 50px;
    line-height: 1.22;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 50px;
  }

  .slick-slider{
    min-width: 0;
  }
  .slick-track{
    display: flex;
    align-items: flex-start;
  }
  .slick-list {
    overflow: hidden;
  }
  .slider__item {
    padding: 0px 15px;
  }

  .slider__item img{
    max-width: 100%;
  }

  .slider {
    position: relative;
    padding: 0px 60px;
  }

  .slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    z-index: 2;
    font-size: 0;
    width: 30px;
    height: 50px;
  }


  .next{
    cursor: pointer;
    top: 50%;
    z-index: 2;
    left: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    border-top: 5px solid #BF0000;
    border-right: 5px solid #BF0000;
    transform: rotate(-135deg);

    &:hover{
      border-top: 5px solid #FFFFFF;
      border-right: 5px solid #FFFFFF;
    }
  }

  .prev{
    cursor: pointer;
    top: 48%;
    right: -5px;
    z-index: 2;
    position: absolute;
    height: 30px;
    width: 30px;
    border-top: 5px solid #BF0000;
    border-right: 5px solid #BF0000;
    transform: rotate(45deg);

    &:hover{
      border-top: 5px solid #FFFFFF;
      border-right: 5px solid #FFFFFF;
    }
  }

}

.white{
  border-top: 5px solid #FFFFFF;
  border-right: 5px solid #FFFFFF;
}

@media (max-width: 990px){
  .services__title{
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 550px){
  .slider__item{
    display: flex;
    justify-content: center;
  }
}



