$maxWidth: 1920px;
$minWidth: 320px;
$pcSize: 80px;
$mobSize: 24px;
$accent: #BF0000;
$borderRadiusmin: 4px;
$borderRadiusmax: 5px;
$borderRadiusVeryMax: 20px;
$dark: #474747;
$infoBgTop : -60px;
// ПРИМЕР
// .some {
//     color: $bg;
// }
