@import "mixins";
@import "vars";
$minWidth: 320px;
$maxWidth: 1920px;


@import "null";
@import "animation";
@import "fonts";
@import "global";


//HEADER
@import "header";

//Info
@import "info";

//Services
@import "services";

//Pluses

@import "pluses";

//ClientCard

@import "clientCard";

//News

@import "news";

//Reviews

@import "reviews";

//Footer

@import "footer";

//POP Up

@import "modal";

//About company

@import "about";

// Services Page

@import "services__page";

//Price

@import "price";
